export REDDIT_APPID=your reddit app id
export REDDIT_SECRET=your reddit app secret
export REDDIT_REFRESH_TOKEN=your reddit refresh REDDIT_REFRESH_TOKEN
export REDDIT_SUBREDDIT=subreddit you're monitoring
