@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Twitter Monitor</h1>
    <p>For More information about this project see <a href="https://github.com/SusanEnneking/RedditMonitor">The github project</a>.</p>
    <p>Monitor Start Time: @ViewData["MonitorStartTime"]</p>
</div>
